* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html, body {
    background-image:  -webkit-linear-gradient(left, #f0f9ffe7 0%, #cbebffed 47%, #a1dbfff1 100%), url('./Pic//star.jpg');

    background-size: cover;
}

button {
    outline: none !important;
}

textarea, input {
    color: rgb(82, 118, 129);
}