.container.blogBody, .row.blogBody {
    width: auto;
    height: 100vh;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
}

.row.blogBody {
    width: auto;
    border-radius: 10px;
}

.blogArea {
    margin-top: 20px;
    height: 95vh;
    border-radius: 5px;
}

.blogSideBar.col-xs-12.col-sm-5.col-lg-4 {
    padding-left: 0;
    padding-right: 0;
}

.profileArea {
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 15px;
    width: 315px;
    height: 65vh;
    background-color: transparent;
    padding-top: 15px;
    border-left: 1px solid rgb(118, 170, 187);
    border-right: 2px solid rgb(118, 170, 187);
    border-top: 1px solid rgb(118, 170, 187);
    border-bottom: 2px solid rgb(118, 170, 187);
    /* box-shadow: inset 10px 12px 11px -11px rgba(98, 167, 186, 1); */
    box-shadow: 10px 12px 17px -9px rgba(98, 167, 186, 1);
    background-size: cover;
    background-image: -webkit-linear-gradient(left, #ceeafde7 0%, #cbebffed 47%, #a1dbfff1 100%), url('../Pic/star.jpg');
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}

.createNewPostBtn {
    width: 280px;
    height: 50px;
    border: none;
    color: darkblue;
    background-color: transparent;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-top: 1px solid darkblue;
    border-bottom: 1px solid darkblue;
}

.createNewPostBtn:hover {
    border-radius: 10px;
    color: darkblue;
    border-bottom: 3px solid darkblue;
    border-top: 3px solid darkblue;
    background-color: rgb(255, 217, 0);
    font-size: 120%;
    transition: all ease-out 0.3s;
}

.row.user-pictuar-tag-blog-body {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid darkblue;
}

.ulPost {
    width: auto;
    height: 320px;
    list-style: none;
}

.sideBarUserName {
    text-align: center;
    font-weight: 600;
    color: darkblue;
}

.sideBarUserEmail {
    text-align: center;
    color: darkblue;
    font-weight: 400;
}

.profileBtnsEditAndInfo {
    width: auto;
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.editProfileBtn {
    width: 125px;
    height: 35px;
    border: none;
    background-color: transparent;
    border-top: 1px solid darkblue;
    border-bottom: 1px solid darkblue;
    color: darkblue;
}

.editProfileBtn:hover {
    font-size: 110%;
    border-radius: 5px;
    border-bottom: 3px solid darkblue;
    border-top: 3px solid darkblue;
    color: darkblue;
    transition: all ease-in 0.3s;
}

@media only screen and (max-width: 775px) {
    .editProfileBtn {
        width: 115px;
        font-size: 15px;
    }
    .container.blogBody, .row.blogBody {
        position: relative
    }
    .profileArea {
        border: none;
        position: relative;
        width: auto;
    }
    .createNewPostBtn {
        width: 205px;
        display: block;
    }
}

@media only screen and (max-width: 580px) {
    .profileArea {
        margin-top: 20px;
        border: none;
        width: auto;
        height: 55vh;
        padding-top: 15px;
    }
    .createNewPostBtn {
        width: 340px;
        display: block;
    }
}