.homePage {
    margin-top: 35px;
}
.jumbotron.jumbotron-fluid{
background: none;
}

.menuBtnsContainer {
    width: 80%;
    height: 300px;    
    border-right: 1px solid rgb(118, 170, 187);
    border-radius: 15px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(193, 233, 246, 0.5)  ;  
    border-left: 1px solid rgb(118, 170, 187);
}

.btnCreateContainer {
    width: 250px;
    height: 225px;
}

.btnAddCommentContainer {
    width: 250px;
    height: 225px;
}

.createBtnContent {
    text-align: center;
    margin-top: 5px;
}

.homePageBtnToPost {
    width: 100px;
    height: 100px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid rgb(118, 170, 187);
    border-radius: 50%;
    color: darkblue;
}

.homePageBtnToPost.create {
    width: 100px;
    height: 100px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid rgb(118, 170, 187);
    border-radius: 50%;
    color: darkblue;
    font-size: 40px;
}

.homePageBtnToPost:hover {
    border: 10px solid rgb(118, 170, 187);
    font-size: 180%;
    transition: all ease 0.5s;
}

.brand {
    font-family: 'Pangolin', cursive;
    font-size: 55px;
    font-weight: bolder;
    color: red;
    border-radius: 5px;
    background-color: rgba(64, 179, 224, 0.623);
}