.container.log {
    border-left: 1px solid rgb(118, 170, 187);
    border-right: 1px solid rgb(118, 170, 187);
    border-radius: 5px;
    width: auto;
    background-image: linear-gradient(rgba(226, 238, 241, 0.950), rgb(226, 238, 241)), url('../Pic/carbon2.jpg');
    height: 60vh;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
}

.loginheader {
    text-align: center;
    font-weight: bolder;
    padding-top: 15px;
}

.row.UserLogin {
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 40vh;
}

.form-group.login {
    display: block;
    width: 350px;
    margin-top: 10px;
    margin-bottom: 35px;
}