.NavBtns {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    color: darkblue;
    /* background-color: rgba(226, 238, 241, 0.685); */
    background-color: transparent;
    width: 130px;
    height: 45px;
    border-radius: 10px;
}

.NavBtns.logout:hover {
    background-color: rgb(226, 80, 12);
    border: 2px solid rgb(226, 80, 12);
    color: white;
    transition: all 0.3s ease-out;
}

.NavBtns:hover {
    color: #1d91de;
    border-bottom: 2px solid darkblue;
    border-top: 2px solid darkblue;
    font-size: 120%;
    color: darkblue;
    transition: all .3s ease-out;
}

.navbar-brand {
    font-family: 'Vollkorn', serif;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 100px;
    padding-left: 10px;
    margin-left: 15px;
    animation: moveleft 8s infinite ease;
}

.dot1 {
    animation: dot1 2s infinite;
}

.dot2 {
    animation: dot2 2s infinite;
}

.dot3 {
    animation: dot3 2s infinite;
}

@keyframes dot1 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes dot2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes dot3 {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes moveleft {
    0% {
        background: #019cfc;
        width: 50px;
    }
    50% {
        background: #a1dbff;
        width: 350px;
    }
    100% {
        background: #019cfc;
        width: 50px;
    }
}

.navbar {
    background: -webkit-linear-gradient(left, #f0f9ff 0%, #cbebff 47%, #a1dbff 100%);
    width: auto;
    height: 70px;
    padding: 0;
    /* border-bottom: 1px solid #1d91de; */
    border-top: 2px solid #1d91de;
}

.navbarUl {
    display: flex;
    align-items: center;
    list-style: none;
    width: auto;
    height: 70px;
}

.hamburgerBtn {
    font-size: 50px;
    color: blue;
    display: none;
}

@media only screen and (max-width: 920px) {
    .NavBtns {
        margin-left: 5px;
        margin-right: 5px;
        width: 100px;
        height: 35px;
        border-radius: 8px;
    }
}

@media only screen and (max-width: 720px) {
    .NavBtns {
        margin-bottom: 5px;
        margin-top: 5px;
        width: 120px;
        height: 40px;
        display: none;
    }
    .hamburger {
        width: 70px;
        height: 70px;
        position: absolute;
        top: 15px;
        left: 310px;
    }
    .hamburgerBtn {
        font-size: 50px;
        color: darkblue;
        display: inline;
    }
    .navbar {
        background-color: rgba(193, 233, 246, 0.5);
        width: auto;
        box-shadow: 0px 1px 1px #1d91de;
        height: 90px;
        padding: 0;
        position: relative;
        transition: height 0.5s ease-out;
    }
    .navbar-brand {
        font-family: 'Pangolin', cursive;
        font-size: 25px;
        font-weight: bolder;
        position: absolute;
        top: 15px;
        left: 10px;
    }
    .navbarUl {
        display: flex;
        flex-direction: column;
        width: auto;
        height: 200px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}