.newPostContainer {
    width: auto;
    height: 320px;
    margin-bottom: 5px;
}

.newPostHeader {
    text-align: center;
    font-weight: bolder;
    color: darkblue;
}

.themeBtnsDiv {
    height: 55px;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.themeBtn {
    height: 50px;
    width: 65px;
    border: none;
    border-radius: 5px;
    color: darkblue;
}

.themeDisplay {
    color: darkblue;
    font-size: 20px;
    font-weight: bolder;
    display: block;
    text-align: center;
}

.createPostInput, .createPostInputHeader {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    resize: none;
    padding: 1px 5px 1px 5px;
}

.createPostTextarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    border-radius: 5px;
    resize: none;
    padding: 1px 5px 1px 5px;
}

.createPostBtnDiv {
    margin-top: 5px;
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.createPostCancelBtn {
    display: block;
    width: 100px;
    height: 30px;
    color: darkblue;
    background-color: transparent;
    text-align: center;
    border-radius: 10px;
    border: none;
    font-weight: bolder;
}

.createPostPostBtn {
    display: block;
    width: 100px;
    height: 30px;
    color: darkblue;
    background-color: transparent;
    border: none;
    text-align: center;
    border-radius: 10px;
    font-weight: bolder;
}

.createPostCancelBtn:hover {
    border-bottom: 3px solid darkblue;
    border-top: 3px solid darkblue;
    color: darkblue;
    background-color: rgb(255, 217, 0);
    transition: all ease-out 0.3s;
}

.createPostPostBtn:hover {
    border-bottom: 3px solid darkblue;
    border-top: 3px solid darkblue;
    color: darkblue;
    transition: all ease-out 0.3s;
}

@media only screen and (max-width: 500px) {
    .createPostTextarea {
        width: 80%;
    }
}