.post {
    background-size: cover;
    background-image: -webkit-linear-gradient(left, #ceeafde7 0%, #cbebffed 47%, #a1dbfff1 100%), url('../Pic/star.jpg');
    width: 96%;
    box-shadow: 10px 12px 17px -9px rgba(98, 167, 186, 1);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    height: 300px;
    border-top: 1px solid rgba(98, 167, 186, 1);
    border-left: 1px solid rgba(98, 167, 186, 1);
    border-bottom: 2px solid rgba(98, 167, 186, 1);
    border-right: 2px solid rgba(98, 167, 186, 1);
    position: relative;
}

.post2 {
    width: 96%;
    box-shadow: 10px 12px 17px -9px rgba(98, 167, 186, 1);
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    height: 550px;
    border: 2px solid rgba(98, 167, 186, 1);
    position: relative;
}

.divPostCreator {
    width: auto;
    height: 25px;
    display: flex;
    justify-content: space-between;
    margin-left: 7px;
}

.divPostContent {
    width: auto;
    height: 200px;
}

.commentTextarea {
    width: 96%;
    height: 194px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3px;
    margin-bottom: 3px;
    display: block;
    box-shadow: inset 10px 12px 11px -11px rgba(98, 167, 186, 1);
    border: none;
    padding: 10px;
    background-color: rgb(225, 245, 255);
    overflow: auto;
    font-family: 'Piedra', cursive;
    letter-spacing: 1.5px;
}

.commentsInPost:hover {
    color: blue;
    text-decoration: underline blue;
    cursor: pointer;
}

.divActionBtnsContainer {
    display: flex;
    width: auto;
    height: 65px;
}

.PostCreatorUserName {
    font-weight: bolder;
    font-size: 15px;
    color: darkblue;
    /* text-decoration: underline; */
    margin-left: 10px;
}

.postHeader {
    color: darkblue;
    background-color: rgba(135, 213, 233, 0.534);
    width: 60px;
    height: 20px;
    margin-top: 3px;
    text-align: center;
    border-radius: 3px;
}

.divActionBtns {
    width: 40%;
    height: 65px;
}

.divComments {
    width: 60%;
    height: 65px;
}

.divComments p {
    display: block;
    font-size: small;
    margin: 0;
    padding-left: 15px;
    font-weight: bolder;
}

.divCommentsSmallScreen p {
    margin: 0;
    padding-left: 15px;
    font-weight: bolder;
    font-size: 20px;
    margin: auto;
    display: none;
}

.heartREG {
    font-size: 200%;
    cursor: pointer;
    position: absolute;
    top: 240px;
    right: 120px;
}

.likeREG {
    font-size: 200%;
    cursor: pointer;
    position: absolute;
    top: 240px;
    right: 20px;
}

.likeREG:hover:active {
    top: 245px;
    color: blue;
    transition: all 0.5;
}


.heartREG:hover:active {
    top: 245px;
    color: red;
    transition: all 0.5;
}


.commentREG {
    font-size: 200%;
    cursor: pointer;
    position: absolute;
    top: 240px;
    right: 70px;
}

.divCommentArea {
    width: auto;
    height: 150px;
}

.divCommentArea2 {
    width: auto;
    height: 150px;
    display: none;
}

.inputComment {
    width: 96%;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    box-shadow: inset 10px 12px 11px -11px rgba(98, 167, 186, 1);
    padding-left: 10px;
    /* font-family: 'Piedra', cursive; */
}

.commentBtnsPost {
    width: auto;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.addComment {
    width: 130px;
    height: 35px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgb(118, 170, 187);
    color: darkblue;
}

.cancelComment {
    width: 130px;
    height: 35px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgb(118, 170, 187);
    color: darkblue;
}

.addComment:hover {
    background-color: rgb(118, 170, 187);
    color: white;
    transition: all ease-out 0.3s;
}

.cancelComment:hover {
    background-color: rgb(255, 217, 0);
    color: white;
    border: 2px solid rgb(255, 217, 0);
    transition: all ease-out 0.3s;
}

.commentListDiv {
    margin-left: auto;
    margin-right: auto;
    width: 96%;
    height: 230px;
    border-radius: 5px;
    background-color: rgb(245, 245, 245);
    box-shadow: inset 10px 12px 11px -11px rgba(98, 167, 186, 1);
}

.UlcommentList {
    margin-left: auto;
    margin-right: auto;
    width: 94%;
    height: 230px;
    list-style: none;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.postDelBtn {
    float: right;
    width: 50px;
    height: 20px;
    border: none;
    background-color: transparent;
    margin-right: 5px;
    margin-top: 3px;
    text-align: center;
    font-size: small;
}

.postDelBtn:hover {
    color: red;
    transition: all 0.3s;
}

@media only screen and (max-width: 720px) {
    .divComments p {
        display: none;
    }
    .divCommentsSmallScreen p {
        display: inline;
        font-size: 10px;
    }
    .commentTextarea {
        height: 150px;
        padding-left: 10px;
    }
}

@media only screen and (max-width: 580px) {
    .divCommentsSmallScreen p {
        font-size: 15px;
    }
}