.container.login {

    border-radius: 15px;

    width: auto;
    height: 670px;
    padding-top: 10px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.row.user-pictuar-tag {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 1px solid darkblue;
}

.row.formUserLogin {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.formSubmitButton {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.formSubBtn {
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: transparent;
    border: 2px solid rgb(118, 170, 187);
    color: darkblue;
}

.formSubBtn:hover {
    width: 220px;
    transition: all 0.5s ease-out;
}

.formSubBtn:active {
    width: 220px;
    background-color: rgb(118, 170, 187);
    color: white;
}

@media only screen and (max-width: 720px) {
    .row.user-pictuar-tag {
        width: 100px;
        height: 100px;
    }
}